
.attribution{padding:30px 0 10px;}
.attribution,
.attribution a { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Typography */
body,
p,
a,
button{
    font-family: 'Epilogue', sans-serif;
}

body,
p{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
h1{
    font-size: 78px;
    line-height: 78px;
    font-weight: 700;
}
.topNav button,
.topNav a{
    font-size: 14px;
}


/* Color */
body,
.topNav button,
.topNav a,
.topNav .submenu{
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
}
h1,
.topNav button:hover,
.topNav a:hover,
.topNav .submenu li:hover a{
    color:hsl(0, 0%, 8%);
}
button,
.button{
    border-color: hsl(0, 0%, 98%);
}
.button.secondary{
    border-color: hsl(0, 0%, 8%);
}
.button.primary {
    color:hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 8%);
}
.button.primary:hover{
    color:hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
}

/* Global */
.container {
    max-width: 1140px;
}
img{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
button{
    background: transparent;
    border: none;
}
.onlyDesktop{
    display:block !important;
}
.onlyMobile{
    display:none !important;
}


/* Button */
button,
.button {
    display:inline-block;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    padding:5px;
}
.button.medium{
    padding:7px 20px;
}
.button.large{
    padding:15px 30px;
}

/* topNav */
.topNav {
    padding:20px 40px;
    position:fixed;
    top:0;
    width:100%;
    z-index: 888;
}
.topNav .button{
    margin-left: 10px;
}
.topNav .leftNav nav{
    margin-left: 30px;
}
.topNav .leftNav nav>button.hasSub::after{
    display: inline-block;
    content: url(../images/icon-arrow-down.svg);
    margin-left:5px;
}
.topNav .leftNav nav>button.hasSub.active::after{
    content: url(../images/icon-arrow-up.svg);
}
.topNav .submenu {
    position:absolute;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px;
    height:0;
    overflow: hidden;
}
.topNav .submenu li{
    list-style: none;
    text-align: left;
    margin:0;
    padding:3px;
    
}
/* Nav Icon */
.icon{
    display: flex;
    align-items: center;
}
.icon::before{
    display: inline-block;
    content:'';
    width: 16px;
    height: 16px;
    margin-right:16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-todo::before{
    background-image: url(../images/icon-todo.svg);
}
.icon-calendar::before{
    background-image: url(../images/icon-calendar.svg);
}
.icon-reminders::before{
    background-image: url(../images/icon-reminders.svg);
}
.icon-planning::before{
    background-image: url(../images/icon-planning.svg);
}


/* mainBody */
.mainBody{
    margin:100px 0 40px 0;
}
.pageIntro h1{
    margin-top:60px;
    overflow-x: visible;
    white-space: nowrap;
}
.pageIntro p{
    margin-top:40px;
}
.pageIntro a.button{
    margin-top:40px;
}
.clientList{
    margin:100px 0 0 0;
    padding:0;
    list-style: none;
}
.clientList li{
    list-style: none;
    display:inline-block;
}
