
.attribution{padding:30px 0 10px;}
.attribution,
.attribution a { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Typography */
body,
p,
a,
button{
    font-family: 'Epilogue', sans-serif;
}

body,
p{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
h1{
    font-size: 78px;
    line-height: 78px;
    font-weight: 700;
}
.topNav button,
.topNav .button,
.topNav a{
    font-size: 14px;
}


/* Color */
body,
.topNav,
.topNav button,
.topNav .button,
#mainMenu,
.topNav .submenu,
.topNav .submenu a{
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
}
h1,
.topNav button:hover,
.topNav .button:hover,
.topNav a:hover,
.topNav .submenu li:hover a{
    color:hsl(0, 0%, 8%);
}
button,
.button{
    border-color: hsl(0, 0%, 98%);
}
.button.secondary{
    border-color: hsl(0, 0%, 8%);
}
.button.primary {
    color:hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 8%);
}
.button.primary:hover{
    color:hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
}
.pageOverlay{
    background-color: rgba(0, 0, 0, 0.5);
}

/* Global */
.container {
    max-width: 1140px;
}
img{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
button{
    background: transparent;
    border: none;
}

/* Button */
button,
.button {
    display:inline-block;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    padding:5px;
    transition: all 0.1s ease;
}
.button.medium{
    padding:7px 20px;
}
.button.large{
    padding:15px 30px;
}


/* topNav */
.topNav {
    padding:20px 40px;
    position:fixed;
    top:0;
    width:100%;
}
.topNav .button{
    margin-left: 10px;
}
.topNav .leftNav{
    width:auto;
}
#mainMenu {
    position:relative;
    margin-left: 30px;
    padding:0;
}
#mainMenu>button.hasSub::after,
#mainMenu>a.hasSub::after{
    display: inline-block;
    position:relative;
    content: url(../images/icon-arrow-down.svg);
    margin-left:5px;
}
#mainMenu>button.hasSub.active::after,
#mainMenu>a.hasSub.active::after{
    content: url(../images/icon-arrow-up.svg);
}
#mainMenu .submenu {
    position:absolute;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px;
    height:0;
    overflow: hidden;
    transition: all 0.3s ease;
}
#mainMenu .submenu li{
    list-style: none;
    text-align: left;
    margin:0;
    padding:3px;
    
}
.mobileMenu{
    display:block;
    width:32px;
    height:32px;
    content:'';
    background-image: url(../images/icon-menu.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0;
}
.mobileMenu.active{
    background-image: url(../images/icon-close-menu.svg);
}

/* Nav Icon */
.icon{
    display: flex;
    align-items: center;
}
.icon::before{
    display: inline-block;
    content:'';
    width: 16px;
    height: 16px;
    margin-right:16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-todo::before{
    background-image: url(../images/icon-todo.svg);
}
.icon-calendar::before{
    background-image: url(../images/icon-calendar.svg);
}
.icon-reminders::before{
    background-image: url(../images/icon-reminders.svg);
}
.icon-planning::before{
    background-image: url(../images/icon-planning.svg);
}

/* pageOverlay */
.pageOverlay{
    display:block;
    position: absolute;
    width:100%;
    height: 0;
    top:0;
}

/* mainBody */
.mainBody{
    margin:100px 0 40px 0;
}
.pageIntro h1{
    margin-top:60px;
    overflow-x: visible;
    white-space: nowrap;
}
.pageIntro p{
    margin-top:40px;
}
.pageIntro a.button{
    margin-top:40px;
}
.clientList{
    margin:100px 0 0 0;
    padding:0;
    list-style: none;
    gap:30px;
}
.clientList li{
    list-style: none;
    display:inline-block;
}

/* z-index */
.topNav {
    z-index: 777;
}
.mobileMenu{
    z-index: 999;
}
#mainMenu{
    z-index: 888;
}
.pageOverlay{
    z-index: 555;
}
/* Responsive */
@media(max-width:576px){
    body,
    p{
        font-size: 16px;
        line-height: 26px;
    }
    h1{
        font-size: 36px;
        line-height: 36px;
        white-space:normal;
    }

    .topNav{
        padding: 20px 16px;
    }
    .topNav .leftNav{
        width:100%;
    }

    #mainMenu {
        position:absolute;
        margin-left: auto;
        width:0;
        height: 100vh;
        top:0;
        right:0;
        padding: 80px 0;
        transition: all 0.3s ease;
    }
    #mainMenu button,
    #mainMenu .button{
        text-align: left;
        position:relative;
        width:100%;
    }
    #mainMenu>button.hasSub::after,
    #mainMenu>a.hasSub::after{
        display:block;
        position:absolute;
        top:7px;
        left:90px;
    }
    #mainMenu .submenu {
        position:relative;
        display:block;
        box-shadow: none;
        padding-top:0;
        padding-bottom:0;
        margin:0;
    }


    .pageIntro h1{
        margin-top:40px;
    }
    .pageIntro p{
        margin-top:25px;
    }
    .pageIntro a.button{
        margin-top:25px;
    }
    .clientList{
        margin:40px 0 0 0;
    }
}